<div class="foot-block foot-about">
  <div class="foot-head">About Me</div>
  Native of the <a href="http://en.wikipedia.org/wiki/Willamette_Valley">
    Willamette Valley</a>.
  Student and researcher.
  Married to an
  <a href="http://career.oregonstate.edu">
    Assistant Director of Career Services</a>.
  We have one awesome child (and a cat).
  <div class="foot-contact osu-email"></div>
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Pages</div>
  <ul class="foot-list">
    <li class="foot-item">
      <a href="/index.html">Home</a>
    </li>
    <li class="foot-item">
      <a href="/news.html">News</a>
    </li>
    <li class="foot-item">
      <a href="/teaching.html">Teaching Assistant</a>
    </li>
    <li class="foot-item">
      <a href="/research.html">Research</a>
    </li>
    <li class="foot-item">
      <a href="/publications.html">Publications</a>
    </li>
  </ul>
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Projects</div>
  <ul class="foot-list">
    <li class="foot-item">
      <a href="/projects/more-to-come.html">More to Come</a>
    </li>
  </ul>
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Profiles</div>
  <ul class="foot-list">
    <li class="foot-item">
      <a href="https://github.com/abbottk">GitHub</a>
    </li>
    <li class="foot-item">
      <a href="https://plus.google.com/u/0/117847202510939638515/posts">
        Google+
      </a>
    </li>
    <li class="foot-item">
      <a href="https://twitter.com/kallarhynn">Twitter</a>
    </li>
  </ul>
</div>

<div class="foot-madeby">
  © Eric Walkingshaw, <a href="/legal.html">details</a>
</div>
